<%= link_to "Home", "/" %>
<%= link_to "Artists", artists_path %>
<%= link_to "Log in", "/login" %>


<h1>Log in</h1>

<%= form_for @user, url: '/login', method: 'post' do |f| %>

  <p>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Log in' %>
  </p>


<% end %>
