<% title @artist.name %>
<%= render 'shared/logo' %>
<%= render 'shared/menu' %>

<% if @artist %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-frame">
    <div class="page-header">Biography</div>
    <div>
      <% if @artist.biography %>
      <%= @artist.biography %>
      <% else %>
      <%= p 'Artist bio not found' %>
      <% end %>
    </div>
    <% else %>
    <div>
      <%= p 'Artist not found'%>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
