<%= render 'shared/logo' %>
<%= render 'shared/menu' %>

<% if @artist %>
<div class="row">
  <div class="col-xs-6 col-md-4 col-md-offset-1 featured-image-frame" style="background-color:inherit;">
    <div class="">
      <% if image = @artist.images.select{ |image|
        image.category == 'featured'
        }[0]
        %>
        <%= image_tag(image.file.variant(resize_to_limit: [800, 800]), alt: @artist.name, class: 'featured-image') %>
        <% else %>
        <%= p 'No featured image found' %>
        <% end %>
    </div>
  </div>
  <div class="col-xs-6 col-md-5 text-frame">
    <div class="home-bio">
      <% if @artist.biography %>
      <%= @artist.biography %>
      <% else %>
      <%= p 'Artist bio not found' %>
      <% end %>
    </div>
    <div style="padding-top:10px;">
      <a href="/biography">Click to read <%= @artist.name %>'s full biography</a>
    </div>
  </div>
</div>

<% else %>
<div>
  <%= p 'Artist not found'%>
</div>
<% end %>

<%= render 'shared/footer' %>

<script type="text/javascript">
$('turbolinks:load').ready(function() {
  var divHeight = $('.featured-image').height();
  divHeight = divHeight > 200 ? divHeight : 520;
  // 14px is 1em, each line is 1.5em
  var numLines = Math.floor(divHeight / (14 * 1.5));
  $('.home-bio').css('height', numLines * 14 * 1.5 + 'px');
});
</script>
