<% title @artist.name %>
<%= render 'shared/logo' %>
<%= render 'shared/menu' %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-frame">
    <div class="page-header">Contact</div>
    <div class="contact">
      <% if @artist %>
      <% if @artist.images %>
      <% management_images = @artist.images.select { |image| image.category == 'management' } %>
      <% if management_images[0] %>
      <%= link_to image_tag(management_images[0].file), @artist.management_url %>
      <% end %>
      <% end %>
      <% if @artist.management %>
      <%= @artist.management %>
      <% else %>
      <%= p 'Artist management not found' %>
      <% end %>
      <% else %>
      <div class="page-header">
        <%= p 'Artist not found' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
