<% title @artist.name %>
<%= render 'shared/logo' %>
<%= render 'shared/menu' %>

<% if @artist %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-frame">
    <div class="page-header">
      Schedule
    </div>
  </div>
</div>

  <% if @artist.events.length == 0 %>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-frame">
      <%= p 'No events found' %>
    </div>
  </div>
  <% else %>
    <%
    # use sorted @events for the artist (from controller)
    # create a new hash that will store the events by season
    # loop through all events
    # define season as year minus 4 months so Jan 1 - 4 is Sep 1 to Aug 31
    # determine season of the event
    # date + 4 months gives you a year
    # then season is 'year -1 to year' season e.g. '2018-2019'
    # stick event in appropriate season in hash
    # convert hash to array such that it can be reverse sorted (Most recent season should appear first)
    # iterate through the array to inject the events grouped by season

    schedule = Hash.new()
    @events.each do | event |
      ending_year = event.datetime.advance(:months => 4).year
      season = "#{ending_year - 1}-#{ending_year}"
      if schedule[season]
        schedule[season] << event
      else
        schedule[season] = []
        schedule[season] << event
      end
    end

    schedule_array = []
    schedule.each do |season, season_events|
       schedule_array.push([season, season_events])
    end
    schedule_array.sort! { |a,b| b[0] <=> a[0]}
    %>

    <% schedule_array.each do |season| %>

    <div class="row">
      <div class="col-xs-12 section-header">
        <hr/>
        <%= p season[0] %>
        <hr/>
      </div>
    </div>

      <% season[1].each do |event| %>

      <div class="row">
        <div class="col-sm-6 text-frame">
          <div class="schedule-image-frame">
            <% if event.image.attachment %>
            <%= link_to image_tag(event.image, class: 'schedule-image'), event.url %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6 text-frame">
          <div class="schedule-text-frame">
            <div class="event-title">
              <%= p event.title %>
            </div>
            <%= p event.datetime.strftime('%B %e, %Y at %l:%M%P') %><br/>
            <%= p event.description %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>

<% else %>
<div class="page-header">
  Artist not found
</div>
<% end %>

<%= render 'shared/footer' %>
