<%= render 'shared/current_user' %>
<%= render 'shared/admin_menu' %>




<% if @artist %>
  <%= form_with scope: :artist, local: true, url: "/artists/#{@artist.id}", :html=> {:method=>:put} do |form| %>
  <div class="row">
    <div class="col-xs-12 admin-padding">
      <% if flash[:notice] %>
      <div class="admin-flash"><%= flash[:notice] %></div>
      <% end %>
      <div class="admin-page-header">Edit Artist Information</div>
      <div><%= form.label :name, class: 'admin-label' %></div>
      <div><%= form.text_field :name, class: 'admin-input' %></div>
    </div>
    <div class="col-xs-12 admin-padding">
      <div><%= form.label :biography, class: 'admin-label' %></div>
      <div><%= form.rich_text_area :biography %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 admin-padding">
      <div class="">
        <%= form.label :resume, class: 'admin-label' %>
      </div>
      <div class="">
        <%= image_tag(@artist.resume.preview(resize: "400x400>")) %>
      </div>
      <div class="">
        <%= form.file_field :resume, multiple: false %>
      </div>
    </div>
    <div class="col-sm-7 admin-padding">
      <div><%= form.label :management, class: 'admin-label' %></div>
      <div><%= form.rich_text_area :management %></div>
      <div><%= form.label :management_url, class: 'admin-label' %></div>
      <div><%= form.text_field :management_url, class: 'admin-input' %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 admin-padding media-edit">
      <div><%= form.label :media, class: 'admin-label' %></div>
      <div>
        Paste html to embed media players (e.g. Sound Cloud, YouTube).
        HTML is shown here, but actual embedded players will appear on your website.
      </div>
      <div><%= form.text_area :media %></div>
      <div><%= form.submit 'Save', class: 'admin-button' %></div>
    </div>
  </div>

  <% end %>

  <!-- Comment out images view here for now -->
<%
=begin
%>

  <% @artist.images.each do |image| %>
  <p>
    <%= image_tag(image.file) %>
    <%=
      link_to 'Delete Image',
      "attachments/#{image.id}",
      data: { confirm: "Are you sure you want to delete #{image.file.filename.to_s}?" },
      method: :delete
    %>
  </p>
  <% end %>

<%
=end
%>

  <div class="row">
    <div class="col-xs-12 admin-padding">
      <% if @current_user.email == ENV['ADMIN_EMAIL'] %>
      <%=
      button_to 'Delete Artist', artists_delete_path(@artist),
      data: { confirm: "Are you sure you want to delete #{@artist.name}?" },
      method: :delete,
      class: 'admin-button'
      %>
    </div>
      <% end %>
  </div>
  <% else %>
  <div>Artist not found</div>
  <% end %>
