<%= render "shared/menu" %>
<%= render "shared/current_user" %>

<h1>Artists</h1>

<% @artists.each do |artist| %>
  <p><%= artist.name %></p>
  <p><%= artist.voice_type %></p>
  <p><%= artist.email %></p>
<% end %>
