<%= link_to "Home", "/" %>
<%= link_to "Artists", artists_path %>
<%= link_to "Log in", "/login" %>

<h1>Artists</h1>

<% @artists.each do |artist| %>
  <p><%= artist.name %></p>
  <p><%= artist.voice_type %></p>
  <p><%= artist.email %></p>
<% end %>
