<%= render 'shared/menu' %>
<%= render 'shared/current_user' %>

<h1>Add a New Artist</h1>

<%= form_with scope: :artist, local: true do |form| %>

<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :voice_type %>
  <%= form.text_field :voice_type %>
</p>
<p>
  <%= form.submit 'Create new artist' %>
</p>

<% end %>
