<%= render 'shared/menu' %>

<% if @artist %>
<h1> Resume <br>
  <% if @artist.name %>
  <%= @artist.name %>
  <% else %>
  <%= p 'Artist name not found' %>
  <% end %>
</h1>

<div style="width: 800px; height: 800px">
  <% if @artist.resume.attachment %>
  <object title="<%= @artist.name %>"
    type="application/pdf"
    data="<%= rails_blob_path(@artist.resume) %>"
    width="100%"
    height="100%"
  >
  <p>Link <a href="<%= rails_blob_path(@artist.resume) %>">to the PDF</a></p>
  </object>
  <% end %>
</div>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
