<%= render 'shared/menu' %>

<% if @artist %>
<h1>
  <% if @artist.name %>
  <%= @artist.name %>
  <% else %>
  <%= p 'Artist name not found' %>
  <% end %>
</h1>

<div class="">
  <% if image = @artist.images.select{ |image|
      image.category == 'featured'
    }[0]
  %>
    <%= image_tag(image.file) %>
  <% else %>
    <%= p 'No featured image found' %>
  <% end %>
</div>

<p>
  <% if @artist.bio %>
  <%= @artist.bio %>
  <% else %>
  <%= p 'Artist bio not found' %>
  <% end %>
</p>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
