<%= render 'shared/admin_menu' %>

<% if @artist %>

<h3>
  <% if @artist.name %>
  <%= @artist.name %>
  <% else %>
  <%= p 'Artist name not found' %>
  <% end %>
</h3>

<h4>
  <% if @artist.voice_type %>
  <%= @artist.voice_type %>
  <% else %>
  <%= p 'Artist voice type not found' %>
  <% end %>
</h4>

<h3>Email</h3>
<p>
  <% if @artist.email %>
  <%= @artist.email %>
  <% else %>
  <%= p 'Artist email not found' %>
  <% end %>
</p>

<h3>Biography</h3>
<p>
  <% if @artist.biography %>
  <%= @artist.biography %>
  <% else %>
  <%= p 'Artist biography not found' %>
  <% end %>
</p>

<p>
  <%= link_to 'Edit Artist', artists_edit_path(@artist) %>
</p>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
