<%= render 'shared/logo' %>
<%= render 'shared/menu' %>

<% if @artist %>
<h1> Contact <br>
  <% if @artist.name %>
  <%= @artist.name %>
  <% else %>
  <%= p 'Artist name not found' %>
  <% end %>
</h1>

<h2>Management</h2>
<p>
  <% if @artist.management %>
  <%= @artist.management %>
  <% else %>
  <%= p 'Artist management not found' %>
  <% end %>
</p>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
