<%= render 'shared/menu' %>

<% if @artist %>
<h1>
  <% if @artist.name %>
  <%= @artist.name %>
  <% else %>
  <%= p 'Artist name not found' %>
  <% end %>
</h1>

<h2>
  Biography
</h2>

<p>
  <% if @artist.bio %>
  <%= @artist.bio %>
  <% else %>
  <%= p 'Artist bio not found' %>
  <% end %>
</p>

<p>
  <% if @artist.biography %>
  <%= @artist.biography %>
  <% else %>
  <%= p 'Artist biography not found' %>
  <% end %>
</p>

<h2>Management</h2>

<p>
  <% if @artist.management %>
  <%= @artist.management %>
  <% else %>
  <%= p 'Artist management not found' %>
  <% end %>
</p>

<h2>Schedule</h2>

<p>
  <%= @artist.schedule %>
</p>

<p>
  <% @artist.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</p>

<p>
  <%= link_to 'Edit Artist', artists_edit_path(@artist) %>
</p>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
