<%= render 'shared/logo' %>
<%= render 'shared/menu' %>

<% if @artist %>
<h1>
  <% if @artist.name %>
  <%= @artist.name %>
  <% else %>
  <%= p 'Artist name not found' %>
  <% end %>
</h1>

<div class="">
  <% if image = @artist.images.select{ |image|
      image.category == 'featured'
    }[0]
  %>
    <%= image_tag(image.file) %>
  <% else %>
    <%= p 'No featured image found' %>
  <% end %>
</div>

<div id="home_bio">
  <% if @artist.biography %>
    <%= @artist.biography %>
  <% else %>
  <%= p 'Artist bio not found' %>
  <% end %>
</div>

<div class="">
  <a href="/bio">Click to read <%= @artist.name %>'s full biography</a>
</div>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
