<%= render 'shared/admin_menu' %>
<%= render 'shared/current_user' %>

<h1>Edit event Attributes</h1>

<% if flash[:notice] %>
<h2><%= flash[:notice] %></h2>
<% end %>

<% if @event %>
  <%=
  form_with scope: :event,
    local: true,
    url: "/artists/#{@event.artist.id}/events/#{@event.id}",
    :html => { :method => :put } do |form|
  %>

  <h2>
    <%= form.label :id %>
    <%= @event.id %>
  </h2>
  <h2>
    <%= form.label :title %>
  </h2>
  <p>
    <%= form.text_field :title %>
  </p>
  <h2>
    <%= form.label :datetime %>
  </h2>
  <p>
    <%= form.text_field :datetime %>
  </p>
  <h2>
    <%= form.label :description %>
  </h2>
  <p>
    <%= form.text_field :description %>
  </p>
  <h2>
    <%= form.label :url %>
  </h2>
  <p>
    <%= form.text_field :url %>
  </p>
  <h2>
    <%= form.label :archived %>
  </h2>
  <p>
    <%= form.text_field :archived %>
  </p>
  <h2>
    <%= form.label :image %>
  </h2>
  <p>
    <%= image_tag(@event.image, id: 'image_preview') %>
    <%= form.file_field :image, multiple: false, :onchange => 'load_file(event)' %>
  </p>
  <p>
    <%= form.submit 'Save event' %>
  </p>
  <% end %>

  <p>
    <%=
    link_to 'Delete Event',
    "/artists/#{@event.artist_id}/events/#{@event.id}",
    data: { confirm: "Are you sure you want to delete the event #{@event.title}?" },
    method: :delete
    %>
  </p>

<% else %>
<p>
  <%= p 'No event found' %>
</p>
<% end %>
