<%= render 'shared/admin_menu' %>
<%= render 'shared/current_user' %>

<h1>Events</h1>

<p>
  <%=
  link_to 'Add new event',
  "/artists/#{params[:id]}/events/new"
  %>
</p>

<% if @events && @events.length > 0  %>

<% @events.each do |event| %>
<p>ID: <%= event.id %></p>
<p>Title: <%= event.title %></p>
<p>Description: <%= event.description %></p>
<p>URL: <%= event.url %></p>
<p>Time: <%= event.datetime %></p>
<p>

  <% if event.image.attachment %>
  <%= image_tag(event.image) %>
  <% else %>
  <%= p 'No event image attachment found' %>
  <% end %>

  <%
  if event.title
    event_title = event.title
  else
    event_title = 'unknown'
  end
  %>

  <p>
    <%=
    link_to 'View event',
    "/artists/#{event.artist_id}/events/#{event.id}"
    %>
  </p>
  <p>
  <%=
    link_to 'Edit event',
    "/artists/#{event.artist_id}/events/#{event.id}/edit"
  %>
  </p>
  <p>
    <%=
    link_to 'Delete event',
    "/artists/#{event.artist_id}/events/#{event.id}",
    data: { confirm: "Are you sure you want to delete the event #{event_title}?" },
    method: :delete
    %>
  </p>

</p>
<hr>
<% end %>

<% else %>
  <p>
  <%= p "No events found" %>
  </p>
<% end %>
