<%= render 'shared/admin_menu' %>

<div class="admin-padding">
  <div class="row">
    <div class="col-xs-12">
      <div class="admin-page-header">Add new event</div>

      <%= form_with scope: :event, local: true do |form| %>

      <div style="display:none;">
        <%= form.label :artist_id %>
        <%= form.text_field :artist_id, value: params[:id] %>
      </div>
      <div class="admin-header-padding">
        <%= form.label :title %>
        <%= form.rich_text_area :title, :required => true %>
      </div>
      <div class="admin-header-padding">
        <%= form.label :datetime %>
        <% datetime = DateTime.now() %>
        <%= form.text_field :datetime, id: 'flatpickr', :datetime => datetime %>
      </div>
      <div class="admin-header-padding">
        <%= form.label :description %>
        <%= form.rich_text_area :description %>
      </div>
      <div class="admin-header-padding">
        <%= form.label :url %>
        <%= form.text_field :url %>
      </div>
      <div class="admin-header-padding">
        <%= form.label :archived %>
        <%= form.check_box :archived %>
      </div>
      <div class="admin-header-padding">
        <%= form.label :image %>
        <div class="admin-header-padding">
          <img src="" id="image_preview" class="admin-show-image">
        </div>
        <%= form.file_field :image, multiple: false, :onchange => 'load_file(event)' %>
      </div>
      <div class="admin-header-padding">
        <%= form.submit 'Add new event' %>
      </div>

      <% end %>

    </div>
  </div>
</div>
