<%= render 'shared/admin_menu' %>
<%= render 'shared/current_user' %>

<h1>Add a New event</h1>

<%= form_with scope: :event, local: true do |form| %>

<p>
  <%= form.label :artist_id %>
  <%= form.text_field :artist_id %>
</p>
<p>
  <%= form.label :title %>
  <%= form.text_field :title, :required => true %>
</p>
<p>
  <%= form.label :datetime %>
  <%= form.text_field :datetime, id: 'flatpickr', :value => DateTime.now %>
</p>
<p>
  <%= form.label :description %>
  <%= form.rich_text_area :description %>
</p>
<p>
  <%= form.label :url %>
  <%= form.text_field :url %>
</p>
<p>
  <%= form.label :archived %>
  <%= form.text_field :archived, :required => true %>
</p>
<p>
  <%= form.label :image %>
  <img src="" id="image_preview">
  <%= form.file_field :image, multiple: false, :onchange => 'load_file(event)' %>
</p>

<p>
  <%= form.submit 'Add new event' %>
</p>

<% end %>
