<%= render 'shared/admin_menu' %>
<%= render 'shared/current_user' %>

<h1>Edit Image Attributes</h1>

<% if flash[:notice] %>
<h2><%= flash[:notice] %></h2>
<% end %>

<% if @image %>
  <%=
  form_with scope: :image,
    local: true,
    url: "/artists/#{@image.artist.id}/images/#{@image.id}",
    :html => { :method => :put } do |form|
  %>

  <h2>
    <%= form.label :id %>
    <%= @image.id %>
  </h2>
  <h2>
    <%= form.label :name %>
  </h2>
  <p>
    <%= form.text_field :name %>
  </p>
  <h2>
    <%= form.label :category %>
  </h2>
  <p>
    <%= form.select(:category, options_for_select(@options, @image.category)) %>
  </p>
  <h2>
    <%= form.label :order %>
  </h2>
  <p>
    <%= form.text_field :order %>
  </p>
  <h2>
    <%= form.label :file %>
  </h2>
  <p>
    <%= image_tag(@image.file, id: 'image_preview') %>
    <%= form.file_field :file, multiple: false, :onchange => 'load_file(event)' %>
  </p>
  <p>
    <%= form.submit 'Save Image' %>
  </p>
  <% end %>

  <p>
    <%=
    link_to 'Delete Image',
    "/artists/#{@image.artist_id}/images/#{@image.id}",
    data: { confirm: "Are you sure you want to delete image with filename #{@image.file.filename.to_s}" },
    method: :delete
    %>
  </p>

<% else %>
<p>
  <%= p 'No image found' %>
</p>
<% end %>
