<%= render 'shared/admin_menu' %>

<div class="admin-padding">
  <div class="row">
    <div class="col-xs-12">
      <% if flash[:notice] %>
      <div class="admin-flash"><%= flash[:notice] %></div>
      <% end %>
      <div class="admin-page-header">Edit image</div>
      <% if @image %>
        <%=
        form_with scope: :image,
        local: true,
        url: "/artists/#{@image.artist.id}/images/#{@image.id}",
        :html => { :method => :put } do |form|
        %>
        <div style="display:none">
          <%= form.label :id %>
          <%= @image.id %>
        </div>
        <div class="admin-header-padding">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>
        <div class="admin-header-padding">
          <%= form.label :category %>
          <%= form.select(:category, options_for_select(@options, @image.category)) %>
        </div>
        <div class="admin-header-padding">
          <%= form.label :order %>
          <%= form.select(:order, options_for_select(@integer_range, @image.order))  %>
        </div>
        <div class="admin-header-padding">
          <%= form.label :file, 'Image file' %>
          <div class="admin-header-padding">
            <%= image_tag(@image.file, id: 'image_preview', class: 'admin-show-image') %>
          </div>
          <%= form.file_field :file, multiple: false, :onchange => 'load_file(event)' %>
        </div>
        <div class="admin-header-padding">
          <%= form.submit 'Save Image' %>
        </div>
        <% end %>

        <div>
          <%=
          link_to 'Delete Image',
          "/artists/#{@image.artist_id}/images/#{@image.id}",
          data: { confirm: "Are you sure you want to delete image with filename #{@image.file.filename.to_s}" },
          method: :delete,
          class: 'admin-header-padding'
          %>
        </div>

        <% else %>
        <div>
          <%= p 'No image found' %>
        </div>
        <% end %>
    </div>
  </div>

</div>
