<%= render 'shared/admin_menu' %>
<%= render 'shared/current_user' %>

<h1>Add a New Image</h1>

<%= form_with scope: :image, local: true do |form| %>

<p>
  <%= form.label :artist_id %>
  <%= form.text_field :artist_id %>
</p>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :category %>
  <%= form.text_field :category %>
</p>
<p>
  <%= form.label :order %>
  <%= form.text_field :order %>
</p>
<p>
  <%= form.label :file %>
  <%= form.file_field :file, multiple: false, :onchange => 'load_file(event)' %>
</p>

<img src="" alt="" id="image_preview">

<p>
  <%= form.submit 'Add new image' %>
</p>

<script type="text/javascript">
  var load_file = function(e) {
    var img_tag = document.getElementById('image_preview');
    img_tag.src = URL.createObjectURL(e.target.files[0]);
  };
</script>

<% end %>
