<%= render 'shared/admin_menu' %>
<%= render 'shared/current_user' %>

<h1>Add a New Image</h1>

<%= form_with scope: :image, local: true do |form| %>

<p>
  <%= form.label :artist_id %>
  <%= form.text_field :artist_id %>
</p>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :category %>
  <%= form.select(:category, options_for_select(@options)) %>
</p>
<p>
  <%= form.label :order %>
  <%= form.select(:order, options_for_select(@integer_range)) %>
</p>
<p>
  <%= form.label :file %>
  <img src="" id="image_preview">
  <%= form.file_field :file, multiple: false, :onchange => 'load_file(event)' %>
</p>


<p>
  <%= form.submit 'Save new image' %>
</p>

<% end %>
