<%= render 'shared/admin_menu' %>

<% if @image %>

<div class="admin-padding">
  <div class="row">
    <div class="col-xs-12">
      <div class="admin-label">Image name: <%= @image.name %></div>
      <div class="admin-label">Category: <%= @image.category %></div>
      <div class="admin-label">Order: <%= @image.order %></div>
      <div>
        <% if @image.file.attachment %>
        <%= image_tag @image.file, id: 'image_preview' %>
        <% else %>
        <%= p 'Image file not found' %>
        <% end %>
      </div>

      <div class="admin-button">
        <%= link_to 'Edit image', "/artists/#{@image.artist_id}/images/#{@image.id}/edit" %>
      </div>

      <% else %>
      <div><%= p 'Image not found'%></div>
      <% end %>
    </div>
  </div>
</div>
